
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    
}

*:not(.font-noto-serif):not(.font-source-sans) {
    font-family: 'Crimson Pro';
}


.font-noto-serif {
    font-family: 'Noto Serif', serif !important;
  }


  .font-source-sans {
    font-family: 'Source Sans 3', serif !important;
  }



