
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    scroll-behavior: smooth;
    
}

*:not(.font-noto-serif):not(.font-source-sans) {
    font-family: 'Crimson Pro';
}


.font-noto-serif {
    font-family: 'Noto Serif', serif !important;
  }


  .font-source-sans {
    font-family: 'Source Sans 3', serif !important;
  }


  .red-arrow-box {
    cursor: pointer !important;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-color: #9D2235;
    border-width: 6px; /* Initial border width */
    transition: border-width 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.red-arrow-box:hover {
    border-color: #9D2235;
    animation: pulsate-border 1.5s infinite; /* Border pulsating animation */
}

/* Pulsating border animation using transform */
@keyframes pulsate-border {
    0%, 100% {
        border-width: 6px;
    }
    50% {
        border-width: 8px;
    }
}

.red-arrow-box span img {
    transition: transform 0.3s ease-in-out;
}

.red-arrow-box:hover span img {
    transform: translateX(10px);
}

.red-arrow-box {
    transition: border-width 0.5s ease-in-out;
}


.no-dropdown::after {
  content: "" !important;
}

.aos-hover:hover {
  transform: scale(1.10) !important;
  transition-duration: 500ms !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}


