{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content = "The #1 Ranked Highschool in Kentucky.">
    <meta name="keywords" content="duPont Manual, DHS, Manual Highschool">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>duPont Manual Highschool</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
</head>
<body>

   <section>
    <h1 class=" mt-2 text-center font-bold text-black bg-white"   >Proficient In Reading: 100% | Distinguished in Reading: 50% </h1>
    <div class=" mt-3 navbar bg-[#9D2235]">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="white">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                    </svg>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a>Admissions</a></li>
                <li><a>Athletics</a></li>
                <li><a>Links</a></li>
                <li><a>Contact</a></li>
                    <li>
                        <a>Parent</a>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </li>
                    <li><a>Item 3</a></li>
                </ul>
            </div>
            <img class=" ml-10 w-28 h-28" src="{% static 'images/manuallogo.png' %}" alt="">
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li class="menu menu-horizontal px-1 space-x-9">
                    <details>
                        <summary class="text-white text-lg text-transform: uppercase tracking-widest">About</summary>
                        <ul class=" z-50 p-2 text-black text-lg">
                            <li><a>Mission & Vision</a></li>
                            <li><a>History of the School</a></li>
                            <li><a>School Policies</a></li>
                            <li><a>Campus Facilities</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary class="text-white text-lg text-transform: uppercase tracking-widest">Admissions</summary>
                        <ul class=" z-50 p-2 text-black text-lg">
                            <li><a>Application Process</a></li>
                            <li><a>Admission Requirements</a></li>
                            <li><a>Financial Aid</a></li>
                            <li><a>Open House Dates</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary class="text-white text-lg text-transform: uppercase tracking-widest">Athletics</summary>
                        <ul class="z-50 p-2 text-black text-lg">
                            <li><a>Sports Teams</a></li>
                            <li><a>Game Schedules</a></li>
                            <li><a>Athletic Achievements</a></li>
                            <li><a>Athletic Facilities</a></li>
                            <li><a>Coaching Staff</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary class="text-white text-lg text-transform: uppercase tracking-widest">Links</summary>
                        <ul class="z-50 p-2 text-black text-lg">
                            <li><a>Student Portal</a></li>
                            <li><a>Parent Portal</a></li>
                            <li><a>Staff Portal</a></li>
                            <li><a>Academic Calendar</a></li>
                            <li><a>Lunch Menu</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary class="text-white text-lg text-transform: uppercase tracking-widest">Contact</summary>
                        <ul class="z-50 p-2 text-black text-lg">
                            <li><a>Contact Information</a></li>
                            <li><a>School Directory</a></li>
                            <li><a>Map & Directions</a></li>
                            <li><a>Attendance Office</a></li>
                        </ul>
                    </details>
                   
                </li>
            </ul>
        </div>
        <div class="navbar-end">
        
            <button class="btn btn-ghost btn-circle" onclick="my_modal_2.showModal()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 " style = "margin-right: 10px; " fill="none" viewBox="0 0 24 24" stroke="white">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button>
            <dialog id="my_modal_2" class="modal">
                <div class="modal-box">
                    <form class="max-w-md mx-auto">
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input  type="search" id="default-search"
                                class=" block w-full p-4 ps-10 text-lg outline-none text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-500 focus:border-[#9D2235]  "
                                placeholder="Search for anything Crimson-related here!" required />
                            <button type="submit"
                                class="text-white absolute end-2.5 bottom-2.5 bg-[#9D2235] hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2 ">Search</button>
                        </div>
                    </form>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </div>
   </section>
  <div class="bg-white relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
    <div class="flex items-center py-5 md:w-1/2 md:pb-20 md:pt-10 md:pr-10">
        <div class="text-left">
            <p class="text-[#9D2235] max-w-md mx-auto mt-3 text-base sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                 duPont Matrix Highschool
            </p>
            <h2
                class=" text-black text-4xl leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl">The
                <span class="font-bold text-[#9D2235]">#1 Ranked</span>
                <span class="text-4xl text-black leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl">High School in Kentucky</span>
                
            </h2>
            <p class="max-w-md mx-auto mt-3 text-base text-black sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                 Welcome to duPont Matrix Highschool! Get
ready for another year of being indoctirnated by the matrix and getting referalls!
            </p>
            <div class="mt-5 sm:flex md:mt-8">
                <div class="rounded-md"><a href=""
                        class="flex items-center justify-center w-full px-8 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-[#9D2235] border border-transparent rounded-full focus:outline-none focus:shadow-outline-blue md:py-4 md:text-lg md:px-10">
                        About Us
                    </a></div>
                <div class="mt-3 rounded-md sm:mt-0 sm:ml-3">
                    <a href=""
                        class="flex items-center justify-center w-full px-8 py-3 text-base font-medium leading-6 text-black transition duration-150 ease-in-out bg-white border border-black rounded-full hover:text-[#9D2235] hover:border-[#9D2235] focus:outline-none focus:shadow-outline-blue md:py-4 md:text-lg md:px-10">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-1/2 md:pb-20 md:pt-10 md:pl-10">
        <div class="relative w-full p-3 rounded  md:p-8">
            <div class="rounded-lg bg-white text-black w-full">
                <img src="{% static 'may8th.png' %}" alt="" />
            </div>
        </div>
    </div>
</div>
   <section>
    <div style="width: 1278px; height: 248px; padding-left: 24px; padding-right: 24px; justify-content: center; align-items: center; display: inline-flex">
  <div style="flex: 1 1 0; align-self: stretch; padding-top: 21px; padding-bottom: 21px; padding-left: 75px; padding-right: 75.02px; background: white; box-shadow: 0px 4px 20px rgba(63, 63, 63, 0.04); border-radius: 20px; border: 1px #ECECEC solid; justify-content: center; align-items: flex-start; gap: 65.71px; display: inline-flex">
    <div style="width: 230.24px; height: 206px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 75.01px; height: 37.99px; color: #090717; font-size: 23.06px; font-family: Crimson Pro; font-weight: 700; line-height: 37.99px; word-wrap: break-word">Call us</div>
      <div style="width: 70px; height: 70px; border-radius: 35px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 70px; height: 70px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 70px; height: 70px; background: #FFF7F1"></div>
            <div style="width: 12.50px; height: 12.50px; background: #9D2235"></div>
            <div style="width: 33.73px; height: 33.72px; opacity: 0.35; background: #9D2235"></div>
            <div style="width: 12.50px; height: 12.50px; background: #9D2235"></div>
          </div>
        </div>
      </div>
      <div style="width: 136.68px; height: 30.01px; color: #626270; font-size: 17.02px; font-family: Crimson Pro; font-weight: 700; line-height: 30.01px; word-wrap: break-word">(502) 485-8241</div>
      <div style="width: 144.24px; justify-content: center; align-items: flex-start; gap: 5.80px; display: inline-flex">
        <div style="width: 121.16px; height: 20px; color: #9D2235; font-size: 19px; font-family: Crimson Pro; font-weight: 700; line-height: 20px; word-wrap: break-word">Make us a call</div>
        <div style="width: 17.28px; height: 18px; padding-top: 2.21px; padding-bottom: 2.14px; padding-left: 1.44px; padding-right: 1.44px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 14.40px; height: 13.64px; background: #9D2235"></div>
        </div>
      </div>
    </div>
    <div style="width: 1px; height: 206px; background: #D0D0DB"></div>
    <div style="width: 302.34px; height: 206px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 93.61px; height: 37.99px; color: #090717; font-size: 23.25px; font-family: Crimson Pro; font-weight: 700; line-height: 37.99px; word-wrap: break-word">Email us</div>
      <div style="width: 70px; height: 70px; border-radius: 35px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 70px; height: 70px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 70px; height: 70px; background: #FFF7F1"></div>
            <div style="width: 36.39px; height: 29.11px; opacity: 0.35; background: #9D2235"></div>
            <div style="width: 36.39px; height: 15.16px; background: #9D2235"></div>
          </div>
        </div>
      </div>
      <div style="width: 216.54px; height: 30.01px; color: #626270; font-size: 17.02px; font-family: Crimson Pro; font-weight: 700; line-height: 30.01px; word-wrap: break-word">info@dupontmanual.com</div>
      <div style="width: 158.39px; justify-content: center; align-items: flex-start; gap: 5.80px; display: inline-flex">
        <div style="width: 135.31px; height: 20px; color: #9D2235; font-size: 19px; font-family: Crimson Pro; font-weight: 700; line-height: 20px; word-wrap: break-word">Send us a email</div>
        <div style="width: 17.28px; height: 18px; padding-top: 2.21px; padding-bottom: 2.14px; padding-left: 1.44px; padding-right: 1.44px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 14.40px; height: 13.64px; background: #9D2235"></div>
        </div>
      </div>
    </div>
    <div style="width: 1px; height: 206px; background: #D0D0DB"></div>
    <div style="width: 282.58px; height: 206px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 83.97px; height: 37.99px; color: #090717; font-size: 23.62px; font-family: Crimson Pro; font-weight: 700; line-height: 37.99px; word-wrap: break-word">Visit us</div>
      <div style="width: 70px; height: 70px; border-radius: 35px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 70px; height: 70px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 70px; height: 70px; background: #FFF7F1"></div>
            <div style="width: 32.95px; height: 41.19px; opacity: 0.35; background: #9D2235"></div>
            <div style="width: 12.36px; height: 12.36px; background: #9D2235"></div>
          </div>
        </div>
      </div>
      <div style="width: 225px; height: 60px; color: #626270; font-size: 17.44px; font-family: Crimson Pro; font-weight: 700; line-height: 30.01px; word-wrap: break-word">120 West Lee St Louisville, KY 40208</div>
      <div style="width: 183.76px; justify-content: center; align-items: flex-start; gap: 5.80px; display: inline-flex">
        <div style="width: 160.68px; height: 20px; color: #9D2235; font-size: 19px; font-family: Crimson Pro; font-weight: 700; line-height: 20px; word-wrap: break-word">View our locations</div>
        <div style="width: 17.28px; height: 18px; padding-top: 2.21px; padding-bottom: 2.14px; padding-left: 1.44px; padding-right: 1.44px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 14.40px; height: 13.64px; background: #9D2235"></div>
        </div>
      </div>
    </div>
  </div>
</div>
   </section>
</body>
</html>